<div class="sidebar">
<button type="button" name="Log Out"><a href="/logout">Logout</a></button>
</div>
character_edit_form

<h1>Edit <%= @character.name %></h1>

<form action="/characters/<%= @character.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> character name </label>
  <input type="text" name="name" value="<%= @character.name  %>">
  <label>Character Type</label>
    <input list="race" value="<%= @character.race %>">
    <datalist id="race">
      <option value="Elf">
      <option value="Human">
      <option value="Gnome">
      <option value="Halfling">
      <option value="Half-Orc">
    </datalist>
<br><br><br>
  <label for="">description</label><br>
  <textarea id="description" name="name" rows="8" cols="80"></textarea>
  <input type="submit" value="submit">
</form>


<!-- t.string  "name"
t.integer "strength"
t.integer "intelligence"
t.integer "dexterity"
t.integer "wisdom"
t.integer "charisma"
t.integer "constitution"
t.integer "user_id"
t.string  "race"
t.string  "description"
t.integer "level" -->
