<div class="sidebar">
<button type="button" name="Log Out"><a href="/logout">Logout</a></button>
</div>
User.characters_show
<h1>name: <%= @character.name %></h1>
<h1>type: <%= @character.race %></h1>
<h1>level: <%= @character.level %></h1>

<a href="/characters/<%= @character.id %>/update"><button type="button" name="button">to edit page</button></a>
