  <% if flash.has?(:message) %>
    <h3><%= flash[:message] %></h3>
  <% end %>

<div class="sidebar"?
  <h1>LOGIN</h1>
  <form class="" action="/login" method="post">
    <p><input type="text" name="username" placeholder="username"></p>
    <p><input type="text" name="email" placeholder="email"></p>
    <p><input type="text" name="password" placeholder="password"></p>
    <input type="submit" name="" value="submit">
  </form>
</div>
