<div class="sidebar">
<button type="button" name="Log Out"><a href="/logout">Logout</a></button>
<br><br><br><br><br><br><br><br>
</div>
<h1>Welcome <%= @user.username %></h1>
<p>email:  <%= @user.email %></p>
<p>secure password:  <%= @user.password_digest %></p>

<p>user id: <%= session[:user_id] %></p>
<br>
  <a href="/characters"><button class="btn" type="button" name="button">ALL CHARACTERS</button></a>
<br>
<br>
<a href="/characters/new"><button type="button" name="button">Create a Character</button></a>
