<div class="sidebar">
<a class="btn" href="/logout">Logout</a>
<br><br><br><br><br><br><br><br>
</div>

<h1>Welcome <%= @user.username %></h1>
<p>email:  <%= @user.email %></p>
<p>secure password:  <%= @user.password_digest %></p>

<p>user id: <%= session[:user_id] %></p>
<br>
  <a  class="btn" href="/characters">ALL CHARACTERS</a>
<br>
<br>
<a class="btn" href="/characters/new">Create a Character</a>
