<div class="container">

  <div class="col-md-8 col-md-offset-4">
    <h2>Welcome to the character tracker</h2>

    <div class="content">
      <div class="frontimage">
        <img src="https://i.pinimg.com/736x/40/ad/6d/40ad6d274896cae476e85f5b4084a9fe--fantasy-party-character-sheet.jpg" alt="">
      </div>
    </div>

    <div class="sidebar">

        <a href="/login"><p><button type="button" name="SIGN UP"><h3>Log In</h3></button> </p></a>

        <a href="/signup"><p><button type="button" name="SIGN UP"><h3>Sign up</h3></button> </p></a>

    </div>

  </div>
</div>
